* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #1c1c1d;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

.container {
  height: 100%;
  width: min(100%, 600px);
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 42pt;
  text-align: center;
  margin-bottom: 20px;
}

.timer {
  margin: 60px auto;
  font-size: 80pt;
  font-family: monospace;
}

.controls {
  width: 100%;
  display: flex;

  gap: 10px;
}

button {
  background: #282829;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16pt;
  font-weight: 600;
  width: 100%;
  border-radius: 15px;
  transition: 300ms;
  margin-bottom: 20px;

}

.hide {
  display: none
}

#pause:hover {
  background: #484849;
}

#stop:hover {
  background: #e23e3e;
}

#start {
  background: #1cb34e;
}